.filter-tools-header {
  background-color: #0d62b5;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: grid;
  grid-template-columns: 100px 40%;
}
@media (max-width: 720px) {
  .filter-tools-header {
    grid-template-columns: 100px 65%;
  }
}

.logo {
  background-image: url('./img/creditmint-logo.png');
  background-size: 60px;
  margin-left: 20px;
  width: 60px;
}